<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campgrounds</title>
</head>
<body>
    <h1>New Campgrounds</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]" required>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]" required>
        <label for="image">Image URL</label>
        <input type="text" id="image" name="campground[image]" required>
        <label for="price">Price</label>
        <input type="number" id="price" name="campground[price]" required>
        <button>Submit</button>
    </form>
</body>
</html>